<div class='container mt-5'>
  <div class='row' *ngIf='this.product'>
    <div class='col-6'>
      <img src='{{ this.product.pictureURL }}' class='img-fluid w-100'>
    </div>
    <div class='col-6'>
      <h3>{{ this.product.name }}</h3>
      <p class='larger-price'>{{ this.product.price | currency }}</p>
      <div class='d-flex justify-content-start align-items-center'>
        <i class='fa fa-minus-circle text-warning sign-button mr-2' (click)='this.decrementQuantity()'></i>
        <span class='font-weight-bold quantity'>{{ this.quantity }}</span>
        <i class='fa fa-plus-circle text-warning sign-button mx-2' (click)='this.incrementQuantity()'></i>
        <button class='btn btn-outline-primary btn-lg ml-4' (click)='this.addItemToCart()'>
          Add to Cart
        </button>
      </div>
    </div>
    <div class='row mt-5'>
      <div class='col-12 ml-3'>
        <h4>Description</h4>
        <p>{{ this.product.description }}</p>
      </div>
    </div>
  </div>
</div>
